<h1>About</h1>
<br />
<p class="lead">The purpose of this study was to create a prototype of an automatic recommendation system to demonstrate how recommendation systems work, what the possible pitfalls are and how they can be avoided. The results were evaluated from Bitville's web based social learning application’s point of view.</p>
<p class="lead">The outcome of the study was a working prototype that was built on the same programming framework as Bitville’s social e-learning application, thus it can be incorporated.</p>
<p class="lead">With the prototype it was proven that it is possible to build a recommendation engine that takes into account the ratings of the users for different content items and in this way bringing the social element into the recommendation process.</p>
