<h1>Contact</h1>
<br />
<div class="lead">
  <address>
    <strong>Iván Kubinyi</strong><br />
    Media Engineering<br />
    <br />
    <a href="mailto:&#105;&#118;&#97;&#110;&#46;&#107;&#117;&#98;&#105;&#110;&#121;&#105;&#64;&#109;&#101;&#116;&#114;&#111;&#112;&#111;&#108;&#105;&#97;&#46;&#102;&#105;">&#105;&#118;&#97;&#110;&#46;&#107;&#117;&#98;&#105;&#110;&#121;&#105;&#64;&#109;&#101;&#116;&#114;&#111;&#112;&#111;&#108;&#105;&#97;&#46;&#102;&#105;<a>
  </address>
</div>
