<% provide(:title, 'Home') %>
<h1>Automatic Recommender for a Web based social learning application</h1>
<div class="row">
  <div class="span8">
    <div class="video">
      <i class="icon-play" style="font-size: 80px; padding-left: 200px; line-height: 300px;"></i>
    </div>
    <div class="span8">
      <form class="form-inline">
        <fieldset>
          <legend>Rating</legend>
          <!--<i class="icon-star-empty"></i>
          <i class="icon-star-empty"></i>
          <i class="icon-star-empty"></i>
          <i class="icon-star-empty"></i>
          <i class="icon-star-empty"></i>-->
          <input type="text" class=""/>
          <button type="submit" class="btn">Submit</button>
          <span class="help-block">Give your rating for this item</span>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="span4">
    <h2>Recommendations</h2>
    <div class="recommendation-list">
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
    </div>
    <h2>Visualisation</h2>
    <div>
      <p>
        <%= link_to "Preprocessed User-Item matrix", graph_show_path %>
      </p>
      <p>
        <%= link_to "Processed matrix with the new user", graph_show_path(:user => "1") %>
      </p>
    </div>
  </div>
</div>
