<h1>Graph#show</h1>
<p>Find me in app/views/graph/show.html.erb</p>

    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart']});
    </script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(
          <%= @json.to_json %>
        );
        /*var data = google.visualization.DataTable();
        data.addColumn('number', 'X');
        data.addColumn('number', 'Users');
        data.addColumn('number', 'Items');
        
        data.add*/

        var options = {
          title: 'Users vs. Ratings comparison',
          hAxis: {title: 'X', minValue: 0, maxValue: 0.6},
          vAxis: {title: 'Y', minValue: -0.3, maxValue: 0.9},
          legend: 'true'
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

